<mat-toolbar class="mat-color-back">
  <img
    src="assets/icon/download.jpeg"
    style="width: 65px; border-radius: 100px"
  />
  <div>
    <mat-card-title style="padding: 12px; color: rgb(255, 255, 255)"
      >CRUD ANGULAR</mat-card-title
    >
  </div>

  <div class="main-filter">
    <div
      class="mdc-text-field mdc-text-field--filled mdc-text-field-label"
      style="border-radius: 100px"
    >
      <div class="centered-container">
        <mat-form-field appearance="fill" class="search-input">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search"
            #input
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-raised-button (click)="openAddEditEmp()">ADD Employee</button>
  </div>
</mat-toolbar>

<app-admin></app-admin>


<div class="main-body">

  <mat-card
    style="
      border: 2px solid blueviolet;
      padding: 10px;
      border-radius: 50px 20px;
          margin-top: -55px;" >
    <mat-card-content>

        <mat-form-field  class="search-input">
    <!-- <mat-label style=" color: blueviolet;"  class="mat-row">
    </mat-label> -->
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filter"
      #input
     
    />
  </mat-form-field> 
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
              <span *ngIf="selection.selected.length > 0">
                ({{ selection.selected.length }})
              </span>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
            <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
            <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>
          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dob</th>
            <td mat-cell *matCellDef="let row">{{ row.dob | date }}</td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
            <td mat-cell *matCellDef="let row">{{ row.gender }}</td>
          </ng-container>
          <ng-container matColumnDef="education">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Education</th>
            <td mat-cell *matCellDef="let row">{{ row.education }}</td>
          </ng-container>
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
            <td mat-cell *matCellDef="let row">{{ row.company }}</td>
          </ng-container>

          <ng-container matColumnDef="experince">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Exp.</th>
            <td mat-cell *matCellDef="let row">{{ row.experince }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="primary"
                (click)="openEditEmp(row)"
              >
                <mat-icon fontIcon="edit"> Edit </mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteEmployee(row.id)"
              >
                <mat-icon fontIcon="delete"> Delete </mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            (click)="clickedRows.add(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns"
          ></tr>

          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <div>
          <button
            mat-raised-button
            class="buttons"
            (click)="deleteSelectedEmployees()"
            [disabled]="selection.isEmpty()"
          >
            Delete Selected
          </button>

          <mat-paginator
            [pageSizeOptions]="[3, 5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <br />
  <router-outlet />
</div>
