<div class="containar">
  <ul>
    <!-- <button mat-raised-button style="border-radius: 30px;height: 60px;;width: 100%;text-align: center;"><li  style="color: #000;"><fa-icon [icon]="faHome" style="margin-right: 20px;font-size: 25px;color: rgb(0, 0, 0);"></fa-icon> Home</li></button> -->
    <br />

    <button
      mat-raised-button
      class="example-button-row"
      style="
        border: 2px solid rgb(7, 7, 7);
        padding: 10px;
        border-radius: 50px 20px;
        height: 50px;
        width: 200px;
        text-align: center;
        color: blueviolet;
        cursor: pointer;
      "
    >
      <fa-icon
        [icon]="faHome"
        style="margin-right: 20px; font-size: 25px"
      ></fa-icon>
      Home
    </button>

    <!-- <li ><fa-icon [icon]="faUser" style="margin-right: 20px;font-size: 25px;"></fa-icon>User</li> -->
    <br />
    <br />
   

    <button
      mat-raised-button
      style="
        border: 2px solid rgb(7, 7, 7);
        padding: 10px;
        border-radius: 50px 20px;
        height: 50px;
        width: 200px;
        text-align: center;
        color: blueviolet;
        cursor: pointer;
      "
    >
      <fa-icon
        [icon]="faUser"
        style="margin-right: 20px; font-size: 25px"
      ></fa-icon>
      User
    </button>

    <!-- <li><fa-icon [icon]="faSignOut" style="margin-right: 20px;font-size: 25px;"></fa-icon>signup</li> -->

    <br />
    <br />
 

    <button
      mat-raised-button
      style="
        border: 2px solid rgb(7, 7, 7);
        padding: 10px;
        border-radius: 50px 20px;
        height: 50px;
        width: 200px;
        text-align: center;
        color: blueviolet;
        cursor: pointer;
      "
    >
      <fa-icon
        [icon]="faSignOut"
        style="margin-right: 20px; font-size: 25px"
      ></fa-icon>
      SignUp
    </button>

    <!-- <li>
      <fa-icon
        [icon]="faAdd"
        style="margin-right: 20px; font-size: 25px"
      ></fa-icon
      >add user
    </li> -->

    <br />
    <br />
  

    <button
      mat-raised-button
      style="
        border: 2px solid rgb(7, 7, 7);
        padding: 10px;
        border-radius: 50px 20px;
        height: 50px;
       width: 200px;
        text-align: center;
        color: blueviolet;
        cursor: pointer;
      "
    >
      <fa-icon
        [icon]="faAdd"
        style="margin-right: 20px; font-size: 25px"
      ></fa-icon>
      Add User
    </button>

    <!-- <li>
      <fa-icon
        [icon]="faAdd"
        style="margin-right: 20px; font-size: 25px"
      ></fa-icon
      >block
    </li> -->

    <br />
    <br />
    
  </ul>
</div>
